* {
    margin: 0;
    padding: 0;
   
}

.mainbox {
    background-color: black;
    color: aliceblue;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}
.boxleft{
    width: 20%;
    
}
.boxleft1 {
    border: 6px solid black;
    height: 20vh;
    background-color: rgb(36, 41, 39);
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 5px;
    border-radius: 10px;

}
.boxleft2 {
    border: 6px solid black;
    height: 76vh;
    background-color: rgb(36, 41, 39);
    margin-left: 0px;
    padding-left: 0px;
    border-radius: 10px;
    

}

.boxright {
    border: 6px solid black;
    height: 97.5vh;
    background-color: rgb(36, 41, 39);
    width: 80%;
    margin-right: 0px;
    padding-left: 0px;
    margin-top: 5px;
    border-radius: 10px;
}